@model SAT.DATA.EF.Course

@{
    ViewBag.Title = "Details: " + Model.CourseName;
}


<div class="max1000">
    <div class="card card-body">
        <h2 class="text-center pb-2">@ViewBag.Title</h2>
        <dl class="dl-horizontal p-5">
            <dd>
                <span class="font-weight-bold pr-2">Course Name:</span>  @Html.DisplayFor(model => model.CourseName)
            </dd>
            <dd>
                <span class="font-weight-bold pr-2">Description:</span>   @Html.DisplayFor(model => model.CourseDescription)
            </dd>
            <dd>
                <span class="font-weight-bold pr-2">Credit Hours:</span>  @Html.DisplayFor(model => model.CreditHours)
            </dd>
            <dd>
                <span class="font-weight-bold pr-2">Curriculum:</span>   @Html.DisplayFor(model => model.Curriculum)
            </dd>
            <dd>
                <span class="font-weight-bold pr-2">Is Active:</span>
                <span>@(Model.IsActive == true ? "Yes" : "No")</span>
            </dd>
            @if (Model.Notes != null)
            {
                <dd>
                    @Html.DisplayNameFor(model => model.Notes):
                </dd>
                <dd>
                    @Html.DisplayFor(model => model.Notes)
                </dd>
            }
        </dl>
        <p class="text-right pr-5">
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = Model.CourseId }, new { @class = "btn btn-primary btn80"})
                @Html.ActionLink("Delete", "Delete", new { id = Model.CourseId }, new { @class = "btn btn-primary btn80 ml-2" })
            }
            @Html.ActionLink("Cancel", "Index", "Courses", new { @class = "btn btn-primary btn80" })
        </p>
    </div>
</div>
