@model IEnumerable<SAT.DATA.EF.ScheduledClass>

@{
    ViewBag.Title = "Scheduled Classes";
}


<div class="card card-body max1000 drop">
    <h2 class="text-center pb-4">@ViewBag.Title</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Course.CourseName)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.ScheduledClassStatus.SCSName)
                </th>
                <th class="text-right">
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Create New Class", "Create")
                    }
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.CourseName)
                    </td>
                    <td class="text-center">
                            @Html.DisplayFor(modelItem => item.ScheduledClassStatus.SCSName)
                        <div class="dropdown d-inline">
                            <div href="#" class="btn btn-inverse-primary" data-toggle="dropdown">v</div>
                            <div class="dropdown-menu" aria-haspopup="true" aria-expanded="false">
                                @Html.ActionLink("Active", "Delete", new { id = item.SCSID, @status = 1 }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Pending", "Delete", new { id = item.SCSID, @status = 2 }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Completed", "Delete", new { id = item.SCSID, @status = 3 }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Cancelled", "Delete", new { id = item.SCSID, @status = 4 }, new { @class = "dropdown-item" })
                            </div>
                        </div>
                    </td>
                    <td class="text-right">
                        @if (User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Delete", "Delete", new { id = item.ScheduledClassId })
                            <span>|</span>
                        }
                        @Html.ActionLink("Edit", "Edit", new { id = item.ScheduledClassId }) <span>|</span>
                        @Html.ActionLink("Details", "Details", new { id = item.ScheduledClassId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
