<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand-t brand-logo" href="@Url.Action("Index", "Home")"><img src="~/Content/assets/images/Logo.png" alt="logo" /></a>
         <a class="sidebar-brand brand-logo-mini" href="@Url.Action("Index", "Home")"><img src="~/Content/assets/images/Logo.png" alt="logo" class="mini" /></a>
    </div>
    <ul class="nav">
        <li class="nav-item profile">
            <div class="profile-desc">
                <div class="profile-pic">
                    <div class="profile-name">
                        <h5 class="mb-0 font-weight-normal">@Html.Partial("_LoginPartial")</h5>
                    </div>
                </div>
            </div>
        </li>
        <li class="nav-item nav-category">
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="@Url.Action("Index", "Home")">
                <span class="menu-icon">
                    <i class="mdi mdi-speedometer"></i>
                </span>
                <span class="menu-title">Home</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="@Url.Action("Index", "Students")">
                <span class="menu-icon">
                    <i class="mdi mdi-contacts"></i>
                </span>
                <span class="menu-title">Students</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="@Url.Action("Index", "Courses")">
                <span class="menu-icon">
                    <i class="mdi mdi-laptop"></i>
                </span>
                <span class="menu-title">Courses</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="@Url.Action("Index", "ScheduledClasses")">
                <span class="menu-icon">
                    <i class="mdi mdi-table-large"></i>
                </span>
                <span class="menu-title">Scheduled Classes</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="@Url.Action("Index", "Enrollments")">
                <span class="menu-icon">
                    <i class="mdi mdi-table-large"></i>
                </span>
                <span class="menu-title">Enrollments</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="@Url.Action("Index", "StudentStatus")">
                <span class="menu-icon">
                    <i class="mdi mdi-security"></i>
                </span>
                <span class="menu-title">Student Statuses</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <span class="menu-icon">
                    <i class="mdi mdi-file-document-box"></i>
                </span>
                <span class="menu-title" style="color:#6c7293">Documentation</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                    @* this will need updated once the documentation is completed *@
                    <li class="nav-item"> <a class="nav-link" style="color:#6c7293" href="@Url.Action("Documentation", "About")">Documentation</a></li>
                    <li class="nav-item"> <a class="nav-link" style="color:#6c7293" href="~/Content/assets/SAT_Documentation.pdf" download>Download Documentation</a></li>
                </ul>
            </div>
        </li>
    </ul>
</nav>